:root {
    --dark-purple: #7e22ce;
    --light-purple: #e9d5ff;
}

.is_Triangle_container {
    width: 60%;
    margin: auto;
    margin-bottom: 1rem;
}

input,
label {
    display: block;
    padding: 1rem;
}

input {
    width: 100%;
    margin: auto;
    font-size: large;
    padding: 0.5rem;
    border: 2px solid var(--dark-purple);
    border-radius: 0.5rem;
    background-color: var(--light-purple);

}

label {
    font-size: large;
    font-weight: bold;
    color: var(--dark-purple);
}

#error {
    color: red;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    padding-bottom: 2rem;
}